<% if user_signed_in? %>
  <div class="row">
    <div class="span8">
      
      <p> Signed In </p>
    </div>
  </div>
<% else %>
<div class="jumbotron">
  <div class="container">

    <h1 class="center">Welcome!</h1>
    <p class="center">This is a farm planning web application designed to help small farmers and gardeners generate a planting schedule, including a seperate greenhouse schedule, to manage the planting season.<br>
       <%= link_to "Sign In", beds_path, :class => "btn btn-large btn-primary" %>
       <%= link_to "Sign Up", beds_path, :class => "btn btn-large btn-primary" %>
  </div>
</div>
<% end %>

