<% if user_signed_in? %>
  <div class="row">
    <div class="span8">
      
      <p> Signed In </p>
    </div>
  </div>
<% else %>
<div class="jumbotron">
  <div class="container">

    <h1 class="center">Welcome!</h1>
    <p class="center">This is a farm planning web application designed to help small farmers and gardeners generate a planting schedule, including a seperate greenhouse schedule, to manage the planting season.<br>
     <a class="btn btn-primary btn-lg" role="button">Sign In &raquo;</a><a class="btn btn-primary btn-lg" role="button">Sign Up &raquo;</a></p>

  </div>
</div>
<% end %>

