<h3>Field Calendar</h3>


	<div id='calendar'></div>
	
	<script>
$.getJSON( '/calendar/dates', function( json ) {
		$('#calendar').fullCalendar({
			defaultDate: '2014-01-12',
			editable: true,
			events: json
			});

console.log(json);
});
</script>
	