<h3>Field Calendar</h3>


	<div id='calendar'></div>
	<script>
		$('#calendar').fullCalendar({
			defaultDate: '2014-01-12',
			editable: true,
			events: [
				{
					title: 'last frost',
					start: '2014-05-05'
				},
				{
					title: 'greenhouse(h1: cucumbers)',
					start: '2014-04-13',
					end: '2014-05-06'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2014-01-09T16:00:00'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2014-01-16T16:00:00'
				},
				{
					title: 'Meeting',
					start: '2014-01-12T10:30:00',
					end: '2014-01-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2014-01-12T12:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2014-01-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'http://google.com/',
					start: '2014-01-28'
				}
			]
		});
		
	});

</script>
