@import "bootstrap";

 
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$textColor: #37dc74;

/* universal */
a {
  color: yellow;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  background: #00782d;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */



h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: yellow;
}



h3 {
  color: $textColor;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
    }
  }
}

/* jumbotron */

.jumbotron {
  background: url("images/hemlock_creek.jpg");
  height: 30em;
  .container {
    padding-top: 20px;
  }
  h1 {
    color: white;
  }
  p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-style: strong;
    padding: 2em 6em;
    margin: 0;

  } 
 }
 
 /* buttons */

 .generate {
    clear: all;
    overflow: hidden;
    padding-left: 2em;
 }
 
 .btn {
  margin: 1em;
}
 
 /* test */
 
 /* .pull-left {
  background: yellow;
  } */
  
 .shared {
    padding-left: 3em;
    overflow:hidden;
   /* background: green; */
 }
 
 .show {
    border-bottom: 1px solid $textColor;

    &:last-child {
      border-bottom: none;
    }
    ul li {
      list-style: none;
      display: inline-block;
      padding-right: 2em;
      color: $white;
    }
  }
  
  small {
    padding-left: 2em;
    a {
      color: yellow;
    }
  }
  
  .buttons {
    padding-left: 33%;
  }
  /* form */
  

  .field ul {
    list-style: none;
  }

  .field ul li label {
    list-style: none;
    color: white;
  }

  .field ul li {
    color: yellow;
    h4 {
    color: yellow;
    }
  }
  .width {
    width: 400px;
    margin-left: 28%;
  }
  
  input, text_field {
     color: black;
    
  }
  
  input {
  height: auto !important;
  }
  input {
  height: auto !important;
  }
  
    /* table */
    
     .bedTable {
        radius: 5px;
        thead tr {
          th {
          background: $textColor;
          color: #00782d;
          padding: 0.5em;
          border: 2px solid white;
          }
        }
        tbody tr{
          border: 1px solid $textColor;
          padding: 0.5em;
          background: #00782d;
          color: white;
          text-align: center;
        
      }
    }


    table {
      border: 1px solid $textColor;
      radius: 5px;
      tr {
        th {
        background: $textColor;
        color: #00782d;
        padding: 0.5em;
        border: 2px solid white;

        }
        td {
          padding: 0.5em;
          background: #00782d;
          color: white;
          text-align: center;
        }
      }
    }

     .odds td {
     background-color: black;
     opacity: 0.6;
    }
      
  .sch_background {
    background: $textColor;
    color: #00782d;
    opacity: 0.6;
  }
    
  .crop_label {
    padding: 0;
    font-size: 0.75em;
    text-align: center;
  }



.ui-datepicker-header { 
    background-color: #e6e6e6; 
    color: #e0e0e0;  
    font-weight: bold;  
    line-height: 30px;  
    border-width: 1px 0 0 0;  
    border-style: solid;  
    border-color: #111;  
}  

/* calendar */

.fc-event-inner {
  background: orange;
}

#calendar {
  width: 900px;
  margin: 40px auto;
  
}

#calendar .fc-header {
    border: none;
  }

footer ul {
  list-style: none;
  li:nth-child(2) {
      padding-right: 40px;
    }
  li {
    color: white;
    padding-right: 20px;
    a {
      color: yellow;
    }
    }
}

.schedules {
  padding: 30px 0;
}