@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

$textColor: #37dc74;

/* universal */
a {
  color: yellow;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  background: #00782d;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: yellow;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h3 {
  color: $textColor;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* jumbotron */

.jumbotron {
  background-image: url('hemlock_creek.jpg');
  height: 30em;
  .container {
    padding-top: 20px;
  }
  h1 {
    color: white;
  }
  p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-style: strong;
    padding: 2em 6em;
    margin: 0;

  } 
 }
 
 /* buttons */

 .generate {
    clear: all;
    overflow: hidden;
    padding-left: 2em;
 }
 
 .btn {
  margin: 1em;
}
 
 /* test */
 
 /* .pull-left {
  background: yellow;
  } */
  
 .shared {
    padding-left: 3em;
    overflow:hidden;
   /* background: green; */
 }
 
 .show {
    border-bottom: 1px solid $textColor;

    &:last-child {
      border-bottom: none;
    }
    ul li {
      list-style: none;
      display: inline-block;
      padding-right: 2em;
      color: $white;
    }
  }
  
  small {
    padding-left: 2em;
    a {
      color: yellow;
    }
  }
  
  
  /* form */
  
  .new_form ul li{
    list-style: none;
    color: white;
  }
  
  input, text_field, textarea {
     color: yellow;
    
  }
  
  input {
  height: auto !important;
  }
  
    /* table */
    
    
    table {
      border: 1px solid $textColor;
      radius: 5px;
      tr {
        th {
        background: $textColor;
        color: #00782d;
        padding: 0.5em;
        border: 2px solid white;
        }
        td {
          padding: 1em;
          color: white;
        }
      }
    }
      
    
    
    
    
