<% if @gs == [0000-00-00] or @fs == [0000-00-00] %> 
		<h3>Please add beds to crops create schedules</h3>
		<%= link_to "<< Back", crops_path, :class => "btn btn-large btn-warning generate" %>
<% else %>
	<%= render 'gh_schedule.html.erb' %>
	<%= render 'field_schedule.html.erb' %>
	

<% end %>
