<h1>New Bed Created</h1>

<% @beds.each do |bed| %>
  <div class="col-xs-12 col-sm-6 col-md-4 show">
    <h3>
      <%= bed.bed %> 
    </h3>
    <ul>
      <li><strong>Plant on frost date: </strong><%= bed.frost_date %></li>
    </ul> 
    <br />
  </div>
<% end %>
